



$main-color : wheat;
$back-color : #9A8174;

@mixin button {
    text-transform: capitalize;
    padding: 8px 14px;
    background-color:$back-color ;
    outline: none;
    border: none;
    color: $main-color;
    width: 90%;
    text-align: center;
    margin: 20px auto;
    display: block;
    border-radius: 10px;
    cursor: pointer;
}




*{
    margin: 0%;
    padding: 0%;
    color: $main-color;
    box-sizing: border-box;
}

body{
    background-color: black;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 90%;
    margin: auto;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

// Nav

.nav{

    position: relative;
    border-bottom: 1px solid white;
    .container{
        img{
            width: 150px;
            height: 100px;
            object-fit: cover;
        }
        .flex{
            display: flex;
            justify-content: space-between;
            align-items: center;
            ul{
                display: flex;
                gap: 20px;
                transition: transform  0.4s linear;
            }
            .icons{
                display: flex;
                gap: 20px;
                i{
                    font-size: 20px;
                    cursor: pointer;
                }
                i.wait{
                    display: none;
                }
            }
            .search{
                background-color: $main-color;
                padding: 10px 16px;
                display: flex !important;
                justify-content: space-between;
                align-items: center;
                width: 250px;
                border-radius:  10px; ;
                position: absolute;
                top:  101%;
                right: 20px;
                transform-origin: top;
                transform: scaleY(0);
                transition: all  0.4s linear;
                i{
                    color: black;
                }
                input{
                    color: black;
                    padding: 6px 12px;
                    border-radius: 6px;
                    outline: none;
                    border: none;
                }
            }

            .carts{
                position: absolute;
                top: 100%;
                right: -100%;
                height: calc(100vh - 105px);
                background-color: white;
                width: 320px;
                transition: right 0.4s linear;
                .box{
                    display: flex;
                    padding: 20px;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid black;
                    img{
                        width: 60px;
                        height: 60px;
                    }
                    h3,p,i{
                        color: black;
                        
                    }
                }
                button{
                    @include button()
                }
            }
        }

    }
}


.active{
    right: 0% !important;
}
.scale{
    transform: scaleY(1) !important;
}



@media (max-width : 900px) {
.nav{
    .container{
        .flex{
            ul{
                transition: right 0.4s linear;
                flex-direction: column;
                background-color: white;
                width: 300px;
                height: 100vh;
                position: fixed;
                top: 103px;
                right: -100%;
                li{
                    a{
                        display: block;
                        width: 100%;
                        padding: 20px 0px;
                        color: black;
                        border-bottom: 1px solid black;
                        text-align: center;
                    }
                }
            }
            .icons{
                i.wait{
                    display: block;
                }
            }
 
        }
    }
}
}

// Nav