



$main-color : wheat;
$back-color : #FFE6BC;

@mixin button {
    text-transform: capitalize;
    padding: 8px 14px;
    color: white;
    background-color: $back-color;
}



*{
    margin: 0%;
    padding: 0%;
    color: $main-color;
}

body{
    background-color: black;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 90%;
    margin: auto;
}

// Nav

.nav{
    .container{
        img{
            width: 200px;
            height: 200px;
            
        }
    }
}

// Nav