.cen {
  margin: 20px 0px;
  text-align: center;
  font-size: 30px;
  color: white;
}

.cen-2 {
  margin: 20px 0px;
  text-align: center;
  font-size: 30px;
}
.cen-2 span {
  color: white;
}

* {
  margin: 0%;
  padding: 0%;
  color: #9A8174;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: black;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: auto;
}

html {
  scroll-behavior: smooth;
}

.nav {
  border-bottom: 1px solid white;
  position: sticky;
  top: 0%;
  z-index: 100;
  background-color: black;
}
.nav .container img {
  width: 150px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
.nav .container .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav .container .flex ul {
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  font-size: 22px;
}
.nav .container .flex ul li a:hover {
  border-bottom: 1px solid white;
  color: white;
}
.nav .container .flex .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.nav .container .flex .icons i {
  font-size: 20px;
  cursor: pointer;
}
.nav .container .flex .icons i.wait {
  display: none;
}
.nav .container .flex .search {
  z-index: 100;
  background-color: #9A8174;
  padding: 10px 16px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  border-radius: 10px;
  position: absolute;
  top: 103px;
  right: 20px;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.nav .container .flex .search i {
  color: black;
  cursor: pointer;
}
.nav .container .flex .search i:hover {
  color: white;
}
.nav .container .flex .search input {
  color: black;
  padding: 6px 12px;
  border-radius: 6px;
  outline: none;
  border: none;
}
.nav .container .flex .carts {
  opacity: 0;
  z-index: 100;
  position: fixed;
  top: 103px;
  right: 0%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  height: calc(100vh - 105px);
  background-color: white;
  width: 300px;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}
.nav .container .flex .carts .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid black;
}
.nav .container .flex .carts .box img {
  width: 60px;
  height: 60px;
}
.nav .container .flex .carts .box h3, .nav .container .flex .carts .box p, .nav .container .flex .carts .box i {
  color: black;
}
.nav .container .flex .carts .box i {
  cursor: pointer;
  font-size: 25px;
}
.nav .container .flex .carts .box i:hover {
  color: wheat;
}
.nav .container .flex .carts button {
  text-transform: capitalize;
  padding: 8px 14px;
  background-color: #9A8174;
  outline: none;
  border: none;
  color: wheat;
  width: 90%;
  text-align: center;
  margin: 20px auto;
  display: block;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  font-weight: bold;
}
.nav .container .flex .carts button:hover {
  letter-spacing: 4px;
}

.translate {
  -webkit-transform: translateX(0%) !important;
          transform: translateX(0%) !important;
  opacity: 1 !important;
}

.scale {
  -webkit-transform: scaleY(1) !important;
          transform: scaleY(1) !important;
}

.trans {
  -webkit-transition: all 0.4s linear !important;
  transition: all 0.4s linear !important;
}

@media (min-width: 901) {
  .nav .container .flex ul {
    -webkit-transition: opacity 0.4s linear !important;
    transition: opacity 0.4s linear !important;
  }
}
@media (max-width: 900px) {
  .nav .container .flex ul {
    opacity: 0;
    z-index: 100;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 103px;
    right: 0%;
    gap: 0px;
  }
  .nav .container .flex ul li {
    height: 70px;
    border-bottom: 1px solid black;
  }
  .nav .container .flex ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    color: black;
    text-align: center;
  }
  .nav .container .flex ul li a:hover {
    background-color: #9A8174;
    color: wheat;
  }
  .nav .container .flex .icons i.wait {
    display: block;
  }
}
@media (max-width: 450px) {
  .nav .container .flex ul {
    width: 150px;
  }
  .nav .container .flex .carts {
    width: 250px;
  }
  .nav .container .flex .carts .box {
    padding: 20px 8px;
  }
}
.home {
  background-image: url("../public/IMAGES/home.jpg");
  z-index: -1;
  height: 70vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.home .con {
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
}
.home .con h1 {
  color: white;
  font-size: 50px;
}
.home .con p {
  color: white;
  width: 420px;
  font-weight: bold;
  font-size: 19px;
}
.home .con button {
  text-transform: capitalize;
  padding: 8px 14px;
  background-color: #9A8174;
  outline: none;
  border: none;
  color: wheat;
  width: 90%;
  text-align: center;
  margin: 20px auto;
  display: block;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  font-weight: bold;
  width: 200px;
  margin: 20px 0px;
}
.home .con button:hover {
  letter-spacing: 4px;
}

@media (max-width: 500px) {
  .home .con {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .home .con h1 {
    font-size: 25px;
    width: 300px;
  }
  .home .con p {
    font-size: 19px;
    width: 300px;
    margin: 0%;
  }
}
.about {
  margin-bottom: 50px;
}
.about .grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.about .grid .img {
  height: 400px;
}
.about .grid img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .grid .con {
  padding: 20px;
  background-color: #333;
  min-height: 400px;
}
.about .grid .con h2 {
  margin-bottom: 15px;
  color: white;
}
.about .grid .con p {
  margin: 10px 0px;
  color: white;
}
.about .grid .con p.two {
  font-style: italic;
  font-weight: bold;
}
.about .grid .con button {
  text-transform: capitalize;
  padding: 8px 14px;
  background-color: #9A8174;
  outline: none;
  border: none;
  color: wheat;
  width: 90%;
  text-align: center;
  margin: 20px auto;
  display: block;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  font-weight: bold;
}
.about .grid .con button:hover {
  letter-spacing: 4px;
}

@media (min-width: 801px) and (max-width: 1230px) {
  .about .container .grid .img {
    height: 550px;
  }
}
@media (max-width: 800px) {
  .about .container .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .about .container .grid .img {
    height: 300px;
  }
  .about .container .grid img {
    height: 100%;
  }
}
.menu .container .grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 10px;
}
.menu .container .grid img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.menu .container .grid .box {
  border: 1px solid #ddd;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.menu .container .grid .box:hover {
  background-color: white;
}
.menu .container .grid .box:hover h3 {
  color: black;
}
.menu .container .grid .box h2 {
  margin: 10px 0px;
  color: white;
}
.menu .container .grid .box h3 {
  margin: 10px 0px;
  color: white;
  font-size: 25px;
}
.menu .container .grid .box h3 span {
  font-size: 20px;
  text-decoration: line-through;
}
.menu .container .grid .box button {
  text-transform: capitalize;
  padding: 8px 14px;
  background-color: #9A8174;
  outline: none;
  border: none;
  color: wheat;
  width: 90%;
  text-align: center;
  margin: 20px auto;
  display: block;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  font-weight: bold;
}
.menu .container .grid .box button:hover {
  letter-spacing: 4px;
}

@media (max-width: 390px) {
  .menu .container .grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
.product .container .grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 10px;
}
.product .container .grid img {
  width: 190px;
  height: 290px;
}
.product .container .grid .box {
  border: 1px solid #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.product .container .grid .box h2 {
  margin: 10px 0px;
  color: white;
}
.product .container .grid .box h3 {
  margin: 10px 0px;
  color: white;
  font-size: 25px;
}
.product .container .grid .box h3 span {
  font-size: 20px;
  text-decoration: line-through;
}
.product .container .grid .box .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0px;
  gap: 10px;
}
.product .container .grid .box .icons div {
  padding: 5px 10px;
  border: 1px solid #ddd;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.product .container .grid .box .icons div:hover {
  background-color: #9A8174;
}
.product .container .grid .box .icons div:hover i {
  color: black;
}
.product .container .grid .box .icons div i {
  color: white;
  font-size: 19px;
}

@media (max-width: 390px) {
  .product .container .grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
.review {
  overflow: hidden;
}
.review .container .grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 10px;
}
.review .container .grid img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.review .container .grid .box {
  border: 1px solid #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.review .container .grid .box:nth-of-type(1):hover {
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: skew(20deg, 20deg);
          transform: skew(20deg, 20deg);
}
.review .container .grid .box:nth-of-type(2):hover {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: skew(20deg, 20deg);
          transform: skew(20deg, 20deg);
}
.review .container .grid .box:nth-of-type(3):hover {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: skew(20deg, 20deg);
          transform: skew(20deg, 20deg);
}
.review .container .grid .box p {
  margin: 10px 0px;
}
.review .container .grid .box h3 {
  margin: 4px 0px;
  color: white;
  font-size: 25px;
}
.review .container .grid .box h3 span {
  font-size: 20px;
  text-decoration: line-through;
}
.review .container .grid .box i {
  margin: 20px 0px;
  font-size: 50px;
}
.review .container .grid .box .starts i {
  font-size: 20px;
}

@media (max-width: 390px) {
  .review .container .grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
.contact {
  margin-bottom: 50px;
}
.contact .container .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.contact .container .grid .map {
  width: 100%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.contact .container .grid form {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  background-color: #333;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding: 20px;
}
.contact .container .grid form h2 {
  color: white;
  text-align: center;
}
.contact .container .grid form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ddd;
  margin: 20px 0px;
  padding: 10px;
  gap: 10px;
}
.contact .container .grid form div input {
  background-color: #333;
  outline: none;
  border: none;
  width: 100%;
  color: white;
}
.contact .container .grid form div i {
  color: white;
}
.contact .container .grid form .sub {
  text-transform: capitalize;
  padding: 8px 14px;
  background-color: #9A8174;
  outline: none;
  border: none;
  color: wheat;
  width: 90%;
  text-align: center;
  margin: 20px auto;
  display: block;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  font-weight: bold;
}
.contact .container .grid form .sub:hover {
  letter-spacing: 4px;
}

@media (max-width: 800px) {
  .contact .container .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .contact .container .grid .map {
    height: 300px;
  }
}
.blog {
  margin-bottom: 60px;
}
.blog .container .grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 10px;
}
.blog .container .grid .box {
  border: 1px solid #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.blog .container .grid .box .img {
  overflow: hidden;
  width: 100%;
  height: 300px;
}
.blog .container .grid .box .img img {
  z-index: -1;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  width: 100%;
  height: 100%;
}
.blog .container .grid .box .img img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.blog .container .grid .box .con {
  width: 100%;
  height: 50%;
  overflow: hidden;
  padding: 20px;
}
.blog .container .grid .box .con h2 {
  margin: 6px 0px;
  color: white;
}
.blog .container .grid .box .con h2:hover {
  color: #9A8174;
}
.blog .container .grid .box .con h3 {
  color: white;
  margin: 6px 0px;
}
.blog .container .grid .box .con p {
  margin: 20px 0px;
  color: white;
  font-family: cursive;
  font-style: italic;
  -webkit-transition: linear 0.3s;
  transition: linear 0.3s;
}
.blog .container .grid .box .con p:hover {
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaley(1.5) skewX(-30deg) translatey(-10px);
          transform: scaley(1.5) skewX(-30deg) translatey(-10px);
}
.blog .container .grid .box .con button {
  text-transform: capitalize;
  padding: 8px 14px;
  background-color: #9A8174;
  outline: none;
  border: none;
  color: wheat;
  width: 90%;
  text-align: center;
  margin: 20px auto;
  display: block;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  font-weight: bold;
}
.blog .container .grid .box .con button:hover {
  letter-spacing: 4px;
}

@media (max-width: 390px) {
  .blog .container .grid {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}
.footer {
  border-top: 1px solid #ddd;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}
.footer p {
  position: absolute;
  font-size: 20px;
  -webkit-animation: endd 10s linear infinite;
          animation: endd 10s linear infinite;
  padding: 20px;
}