

$main-color : wheat;




*{
    margin: 0%;
    padding: 0%;
    color: $main-color;
}

body{
    background-color: black;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 90%;
    margin: auto;
}